body{
font-family:Arial;
padding:40px;
}
input{
padding:8px;
margin:5px;
}
button{
padding:8px;
margin:5px;
}
table{
margin-top:20px;
border-collapse:collapse;
}
td,th{
border:1px solid #ccc;
padding:10px;
}